.getintogame-container {
  height: 100%;
  width: 100%;
}

.getintogame-options {
  margin-top: 2rem;
  display: flex;
  gap: 3rem;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.getintogame-options button {
  min-width: 190px;
}

.getintogame-join-popup {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7rem;
}

.getintogame-join-popup label,
.getintogame-join-popup input,
.getintogame-join-popup button {
  width: 250px;
}

.getintogame-join-popup label {
  text-align: start;
}

.getintogame-join-popup input {
  padding: 5px;
}

.getintogame-back {
  text-decoration: underline;
}

.getintogame-back:hover {
  opacity: 0.5;
}
