.main-navbar {
  position: fixed;
  height: var(--navbar-height);
  width: 100%;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  padding: 20px;
  z-index: 10;
  position: relative;
}

.main-navbar p {
  font-size: 24px;
  color: white;
  text-shadow: var(--text-shadow);
}

.main-navbar button {
  font-size: var(--nav-font-size);
  color: var(--accent-color);
}

.main-navbar button:hover {
  color: var(--accent-color3);
}

.main-navbar ul {
  display: inline-flex;
  gap: 2rem;
  list-style: none;
}
