.home-main {
  position: relative;
}

.lets-drink {
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
  padding: 20px !important;
  font-size: 50px !important;
}

.lets-drink::before {
  content: "READY TO DRINK?";
}

.lets-drink:hover {
  background-color: var(--accent-color3);
  color: white;
  box-shadow: none;
}

.lets-drink:hover::before {
  content: "LET'S DRINK!!";
}



@media only screen and (max-width: 450px) {
.lets-drink {
  padding: 5px 10px !important;
  font-size: 35px !important;
}
}