footer {
  height: 50px;
  width: 100%;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

footer ul {
  list-style: none;
  text-align: center;
}
