.ftd-container {
  width: 100%;
  height: calc(100vh - var(--navbar-height));
  position: relative;
}

.ftd-board {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.ftd-players {
  width: 100%;
  height: 60px;
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  overflow-x: scroll;
  gap: 20px;
}

.ftd-player {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ftd-player-name {
  font-size: 20px;
}

.ftd-player-turn {
  font-size: 15px;
}

.dealer {
  color: red;
}

.guesser {
  color: white;
  text-shadow: var(--text-shadow);
}

.ftd-turn-counter {
  position: absolute;
  right: 5px;
  top: 0;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
}

.ftd-played-cards-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.ftd-played-cards {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(80px, 1fr)
  ); /* Adjust minmax width as needed */
  gap: 150px 50px;
  padding: 15px 15px 200px 15px;
  overflow-y: scroll;
}

.ftd-card-stack {
  position: relative;
  display: inline-block;
}

.ftd-card {
  position: absolute;
  width: 50px; /* Adjust width as needed */
  height: 70px;
}

.ftd-card img {
  width: 100%;
  height: auto;
  position: absolute;
  max-height: 100%;
  top: 0;
  left: 0;
}

/* Offset each subsequent image to the right */
.ftd-card img:nth-child(2) {
  top: 25px; /* Adjust the value as needed */
}

.ftd-card img:nth-child(3) {
  top: 50px; /* Adjust the value as needed */
}

/* Add more rules for additional images */
.ftd-card img:nth-child(4) {
  top: 75px;
}

.ftd-dealer-card-container {
  height: 200px;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

.ftd-dealer-card {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}

.ftd-dealer-card img {
  height: 90%;
  width: auto;
}

.ftd-guesser-hand-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

.ftd-guesser-hand {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  overflow-x: scroll;
  padding: 15px;
  padding-left: 100px;
}

.ftd-guesser-hand button {
  height: 60px;
}

.ftd-guesser-hand button img {
  height: 100%;
  width: auto;
}
