.ftd-container {
  width: 100%;
  height: 100%;
  max-height: calc(100vh - var(--navbar-height));
  padding-top: var(--header-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.ftd-board {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  display: grid;
  grid-template-rows: 80px 50px 1fr 250px;
  grid-template-columns: 1fr;
}

.ftd-players {
  grid-row: 1/2;
  grid-column: 1/2;
  display: inline-flex;
  justify-content: center;
  overflow-x: scroll;
  gap: 1rem;
  margin: 0 50px;
}

.ftd-player {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ftd-player-name {
  font-size: 25px;
}

.ftd-player-turn {
  font-size: 15px;
}

.dealer {
  color: red;
}

.ftd-message {
  font-size: 30px;
  padding: 5px;
  color: white;
  text-shadow: var(--text-shadow);
}

.guesser {
  color: white;
  text-shadow: var(--text-shadow);
}

.ftd-turn-counter {
  grid-row: 2/3;
  grid-column: 1/2;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ftd-turn-counter p span {
  color: red;
  font-size: 30px;
}

.ftd-played-cards-container {
  grid-row: 3/4;
  grid-column: 1/2;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.ftd-played-cards {
  flex-grow: 1;
  display: inline-flex;
  flex-flow: row wrap;
  gap: 5rem;
}

.ftd-card-stack {
  position: relative;
  display: inline-block;
}

.ftd-card {
  position: absolute;
  width: 70px; /* Adjust width as needed */
  height: 100px;
}

.ftd-card img {
  width: 100%;
  height: auto;
  position: absolute;
  max-height: 100%;
  top: 0;
  left: 0;
}

.masked {
  filter: grayscale(100%) opacity(0.5); /* Example: grayscale and semi-transparent */
}

/* Offset each subsequent image to the right */
.ftd-card img:nth-child(2) {
  top: 25px; /* Adjust the value as needed */
}

.ftd-card img:nth-child(3) {
  top: 50px; /* Adjust the value as needed */
}

/* Add more rules for additional images */
.ftd-card img:nth-child(4) {
  top: 75px;
}

.ftd-dealer-card-container {
  grid-row: 4/5;
  grid-column: 1/2;
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.ftd-dealer-card {
  width: 150px;
  height: 100%;
  display: flex;
  align-items: center;
}

.ftd-dealer-card img {
  width: 100%;
  height: auto;
}
.ftd-guesser-card-container {
  grid-row: 4/5;
  grid-column: 1/2;
  padding: 20px;
}

.ftd-guesser-options {
  flex-grow: 1;
  width: 100%;
  display: inline-flex;
  flex-flow: row wrap;
  gap: 1rem;
}

.ftd-guesser-options img {
  width: 75px;
  height: auto;
}

