.game-over {
  position: absolute;
  background-color: var(--secondary-color);
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
  z-index: 10;
  width: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.game-over h2 {
  font-size: 20px;
  text-align: center;
}

.game-over button {
  padding: 10px;
  width: 100%;
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  background-color: black;
  color: var(--secondary-color);
}

.game-over button:hover {
  background-color: var(--accent-color3);
  color: black;
}
