.rof-container {
  width: 100%;
  height: calc(100vh - var(--navbar-height));
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
}

.rof-single-card-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center;
}

.rof-single-card {
  width: 60px;
  height: auto;
  position: absolute;
  transform: translate(-50%, -50%);
}

.rof-single-card img {
  width: 100%;
  height: auto;
}
